.example-spacer {
    flex: 1 1 auto;
  }

  p{
    flex: content;
  }

  .container{
    background-image: url('/assets/newimg/hotel-31.jpg');
      height: 100%;
      width: 100%px;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .btn {
    font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      
    
  }
  .but{
    margin: 20px;
  
  }
  
  .but:hover {
    background: #2df54e;
    
  }