<div class="container">
  <mat-toolbar color="primary">
      <span class="example-spacer">MY HOTALS </span>
       
      <!-- <button mat-raised-button color="accent" routerLink="/home">Home</button> -->
     
  
<button mat-raised-button color="accent" routerLink="/home">Home</button>
<!-- <button mat-raised-button color="accent" routerLink="/owner/hoteldetails">hoteldetails</button> -->
<button mat-raised-button color="accent" (click)="hotelRegistration()">New Hotel registration</button>
<button mat-raised-button color="accent" (click)="myHotelDetails()">My Hotel Details</button>
 </mat-toolbar> <br>

<div  *ngIf="showTable">
  <mat-form-field class="example-full-width">
  <mat-label>Search here</mat-label>
  <input matInput type="text" [(ngModel)]="searchBoxVal">
</mat-form-field>
<table *ngIf="userHotelDetails.length > 0 && showTable">
    <tr>
        <th>Owner Name</th>
        <th>Owner Contact</th>
        <th>Hotel Name</th>
        <th>Hotel Address</th>
        <th>Hotel Contact</th>
        <th>Hotel Menu</th>
        <th>Hotel images</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <!-- filtar : searchBoxVal" -->
    <tr *ngFor="let hotelData of userHotelDetails | filtar : searchBoxVal"> 
       <td>{{hotelData.OwnerName}}</td>
       <td> {{hotelData.HotelMobile}}</td>
       <td>{{hotelData.HotelName}}</td>
       <td> {{hotelData.HotelAddress}}</td>
       <td>{{hotelData.OwnerMobNo}}</td>
       <td>{{hotelData.HotelMenu}}</td>
       <img *ngIf="hotelData.Image" [src]="hotelData.Image" height="100" width="150">
       <td><mat-icon (click)="delete(hotelData.id)">delete</mat-icon></td>
       <td><mat-icon (click)="edit(hotelData.id)" >mode_edit</mat-icon></td>
    </tr>
  </table>
</div>
</div>