
 
  <mat-toolbar color="primary">
    <span class="example-spacer">MY HOTALS </span>
    <p>WellCome To login</p>
    <button mat-raised-button color="accent" routerLink="/home">Home</button>
  </mat-toolbar> 
 
<body> 
    
  <form class="form" [formGroup]="loginform"  *ngIf="!showForgetPasswordForm">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="form-inner">
          
          
          <h2>Login</h2>        
      <div class="content">
          <input type="text" class="input" placeholder="UserName" formControlName="userName">
          <input type="text" class="input" placeholder="Password" formControlName="password">
           
          
          <button   class="btn" [disabled]="!loginform.valid" (click)="login()">Submit</button><br><br>
          <a class="btn-sign"  (click)="signUp()">New SignUp </a>  
           <a class="btn-sign" (click)="forgetPassword()"> ! Forget Passeword</a>  
             <br>
             <a class="btn-sign" routerLink="/owner/hoteldetails">Home </a> 
      </div>
      </div>
  </form>

  <!-- ------------------------------------------------------------------------------- -->

  <form class="form" [formGroup]="forgetPasswordForm" *ngIf="showForgetPasswordForm">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="form-inner">
        <a routerLink="/owner/ownerSignIn">Home </a> 
        <h2>Forget Passeword</h2>        
    <div class="content">
        <input type="text" class="input" placeholder="newPassword" formControlName="newPassword">
        <input type="text" class="input" placeholder="Password" formControlName="confirmPassword">
         <button   class="btn"  (click)="submit()">Submit</button>
         
    </div>
    </div>
</form>
  </body>
    
    

  