.example-spacer {
    flex: 1 1 auto;
  }

  p{
    flex: content;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 60%;
    
     margin-left: auto; 
     margin-right: auto;
    border:5px solid rgb(6, 150, 37);
     background-image: url('/assets/image/hotel-login.jpg') ;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  button{
    border:1px solid green  ;
  }
  .sumit-btn{
    background-color: rgb(240, 84, 84);
  }
  .container{
    background-image: url('/assets/image/hotel-1.jpg');
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
  }