 
     
        
            
<body>
    <form class="form" [formGroup]="hotelForm" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="form-inner">
            <h2>New Hotel</h2>
        <div class="content">
            <input type="text" class="input" placeholder="ownerName" formControlName="ownerName">
            <input type="text" class="input" placeholder="ownerMobNo" formControlName="phone">
            <input type="text" class="input" placeholder="hotelName" formControlName="name">
             <input type="text" class="input" placeholder=" email" formControlName="email">
            <input type="text" class="input" placeholder="hotelAddress" formControlName="address">
            <input type="text" class="input" placeholder="discription" formControlName="discription">
            <input type="text" class="input" placeholder="hotelMenu" formControlName="menu"> 
            <input type="text" class="input" placeholder="roomAvailable" formControlName="arooms">
            <button type="submit" class="btn" [disabled]="!hotelForm.valid" (click)="onSubmit()">Submit</button>
        </div>
        </div>
    </form>
    </body>

   
 <!-- <a routerLink="/home">Home </a> -->
<!-- hotelRegistr() -->