<div class="container">
    <mat-toolbar>
        <span class="example-spacer">MY HOTALS </span>
         
        <!-- <button mat-raised-button color="accent" routerLink="/home">Home</button> -->
        
        <button mat-raised-button color="accent" (click)="home()">Home</button>
        <button mat-raised-button color="accent" (click)="login()">Login</button>
        <button mat-raised-button color="accent" class="login-btn"  (click)="signIn()">SignIn-Btnn</button>
    </mat-toolbar> <br>
    <div>
        