<div class="container">
    <mat-toolbar color="primary">
        <span class="example-spacer">MY HOTALS </span>
        <p>WellCome To Owner</p>
       </mat-toolbar>  
    
        <!-- <button mat-raised-button color="accent" routerLink="/home">Home</button> -->
        <div class="btn">
        <button class="but" mat-raised-button color="accent" (click)="home()">Home</button>
        <button  class="but" mat-raised-button color="accent" (click)="login()">Login</button>
        <button class="but" mat-raised-button color="accent" class="login-btn"  (click)="signIn()">SignIn-Btnn</button>
     </div>
    <div>
        