<div class="container">
  <mat-toolbar color="primary">
    <span class="example-spacer">HOTALS </span>
    <p>WellCome To Hotel</p>
    <button mat-raised-button color="accent" routerLink="/home">Home</button>
    <button mat-raised-button color="accent" routerLink="/owner/newhotel">New Ristation</button>
    
    <button mat-raised-button color="accent" class="login-btn" (click)="logout()">Logout-Btn</button>
  </mat-toolbar> <br>

  <!-- -------------------------------------------------------------------------------------- -->

  <!-- <div  *ngIf="showTable"> -->
    <!-- <table  *ngIf="userHotelDetails.length > 0 && showTable" > -->
      <table>
        <tr>
            <th>Owner Name</th>
            <th>Owner Contact</th>
            <th>Hotel Name</th>
            <th>Hotel Address</th>
            <th>Hotel Contact</th>
            <th>Hotel Menu</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let hotelData of userHotelDetails">
           <td>{{hotelData.OwnerName}}</td>
           <td> {{hotelData.HotelMobile}}</td>
           <td>{{hotelData.HotelName}}</td>
           <td> {{hotelData.HotelAddress}}</td>
           <td>{{hotelData.OwnerMobNo}}</td>
           <td>{{hotelData.HotelMenu}}</td>
           <td><mat-icon (click)="onDeleteHotel(hotelData.id)">delete</mat-icon></td>
           <td><mat-icon >mode_edit</mat-icon></td>
        </tr>
      </table>
    <!-- </table> -->
    <!-- </div> -->

    



























  <!-- formHeading : any[]= [ "Name", "Email","Menu","Discription", "Address","Rooms","Workers"]; -->
  <!-- <div *ngIf="hotelForm" class="table-container">
    <table>
      <tr>
        <th *ngFor="let heading of formHeading"> {{heading}} </th>
      <tr *ngFor="let formData of hotelForm">
        <td>{{formData.name}}</td>
        <td>{{formData.ownerName}}</td>
        <td>{{formData.phone}}</td>
        <td>{{formData.email}}</td>
        <td>{{formData.menu}}</td>
        <td>{{formData.discription}}</td>
        <td>{{formData.address}}</td>
        <td>{{formData.arooms}}</td>
        
      </tr>
    </table>
  </div> -->
  <!-- <th *ngFor ="let heading of tableHeading">{{heading}}</th>
       </tr> 
       <tr *ngFor ="let tableData of formData"> 
        <td>{{tableData.id}}</td> -->
  <!-- ------------------------------------------------------- -->

  <!-- card.component.html -->

  <!-- <div class="card-container">
    <div class="card" *ngFor="let item of hotelForm">
      <img [src]="item.imageUrl" alt="Card Image">
      <div class="card-content">
        <h3>{{ item.name }}</h3>
        <p>{{item.email}}</p>
        <p>{{item.menu}}</p>
        <p>{{item.discription}}</p>
        <p>{{item.address}}</p>
        <p>{{item.arooms}}</p>
        <p>{{item.workers}}</p>
      </div>
    </div>
  </div> -->