.example-card {
    max-width: 700px;
    margin-bottom: 8px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  p{
    flex: content;
  }

   
 /* styles.css */
 table,tr,th,td{
  border:1px solid rgb(11, 92, 2);
  
}
table {
  width: 80%;
  border-collapse: collapse;

}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6f7ff;
}
