<div class="container">
  <mat-toolbar color="primary">
    <span class="example-spacer">HOTALS </span>
    <p>WellCome To Hotel</p>
    <button mat-raised-button color="accent" routerLink="/home">Home</button>
    <button mat-raised-button color="accent" routerLink="/owner/newhotel">New Ristation</button>
    
    <button mat-raised-button color="accent" class="login-btn" (click)="logout()">Logout-Btn</button>
  </mat-toolbar> <br>

  <!-- -------------------------------------------------------------------------------------- -->

  <!-- <div  *ngIf="showTable"> -->
    <!-- <table  *ngIf="userHotelDetails.length > 0 && showTable" > -->
      <mat-form-field class="example-full-width">
        <mat-label>Search here</mat-label>
        <input matInput type="text" [(ngModel)]="searchBoxVal">
      </mat-form-field>
      
      <table>
        <tr>
            <th>Owner Name</th>
            <th>Owner Contact</th>
            <th>Hotel Name</th>
            <th>Hotel Address</th>
            <th>Hotel Contact</th>
            <th>Hotel Menu</th>
            <th>Delete</th>
            <!-- <th>Edit</th> -->
        </tr>
        <tr *ngFor="let hotelData of userHotelDetails | filtar : searchBoxVal ">
          <!-- | filtar : searchBoxVal -->
           <td>{{hotelData.OwnerName}}</td>
           <td> {{hotelData.HotelMobile}}</td>
           <td>{{hotelData.HotelName}}</td>
           <td> {{hotelData.HotelAddress}}</td>
           <td>{{hotelData.OwnerMobNo}}</td>
           <td>{{hotelData.HotelMenu}}</td>
           <td><mat-icon (click)="onDeleteHotel(hotelData.id)">delete</mat-icon></td>
           <!-- <td><mat-icon >mode_edit</mat-icon></td> -->
        </tr>
      </table>
    <!-- </table> -->
    <!-- </div> -->

    