<div class="container">
<mat-toolbar color="primary">
    <span class="example-spacer">MY HOTALS </span>
    <p>WellCome To Home</p>
   </mat-toolbar> 


   <div class="btn">
    <button mat-raised-button class="but" color="accent" (click)="journey('admin')"> Admin</button> &nbsp; 
    <button mat-raised-button class="but" color="accent" (click)="journey('owner')">Owner</button>&nbsp;
    <button mat-raised-button  class="but" color="accent" (click)="journey('user')">User</button> 
</div>
</div>