  
  <mat-toolbar color="primary">
     
    <p>WellCome To Hotel</p>
    <button mat-raised-button color="accent" routerLink="/userSuccess">back</button> 
    <button mat-raised-button color="accent" routerLink="/home">logout</button> 
    <button mat-raised-button color="accent" routerLink="/booknow">Booknow</button> 
    <!-- <button class="btn-sign"  (click)="booknow()">Booknow</button> -->
  </mat-toolbar> <br>

  <mat-form-field class="example-full-width">
    <mat-label>Search here</mat-label>
    <input matInput type="text" [(ngModel)]="searchBoxVal">
  </mat-form-field>

<div>
   
    <div class="card-container">
      <h1></h1>
       <div class="card" *ngFor="let item of hotelForm |   filtar : searchBoxVal ">
        <img class="img-fluid" [src]="item.Image" alt="Card Image"> 
        <!-- <img *ngIf="item.Image" [src]="item.Image" > -->
       
<!-- ---------------------------------- -->
 
          <!-- ----------------------------- -->
            <div class="card-content">
          <p>------------------------------------------------------</p>
           <h3> <mat-icon>hotel</mat-icon>HotelName :{{ item.HotelName }}</h3>
           <p><mat-icon>person</mat-icon>OwnerName :{{item.OwnerName}}</p>
           <p><mat-icon>phone_iphone</mat-icon> OwnerMobNo :{{item.OwnerMobNo}}</p>
           <p> <mat-icon>room</mat-icon>HotelAddress :{{item.HotelAddress}}</p>
           <p> <mat-icon>restaurant_menu</mat-icon>HotelMenu :{{item.HotelMenu}}</p>
           <p><mat-icon>hotel</mat-icon> RoomAvailable :{{item.RoomAvailable}}</p>
           <mat-icon>save</mat-icon><button class="btn-sign" (click)="booknow()">Booknow</button>
         </div>
       </div>
     </div>
    
   
   
 <!-- ----------------------------------------------------boooknow-------------------------------- -->

  
  